<div class="container">
  <h1>About us !</h2>
  <h2 class="font-italic">
  Our mission is to organise the world’s information and make it universally accessible and useful...
  </h2>
  <br/>
   <img src=<%= asset_path("about.jpg")%>>

   <br/><br/><br/>

   <h2>Contact Us !</h2>
   <br/>
   <p class="font-italic"> You are an amazing person, even if life is difficult, you always try your best.
   I showed you the path to my heart, you found it and you have treated it right.
    The things you do for me, I wish they will never come to an end.
     You are an amazing person who cannot be replaced.
     No one can fit into your shoes. What you have done is just extraordinary, you have touched lives. 
     You are so unique in many ways. 
     Reaching out to other people does not make you weak. You are an amazing person.
     <br/><br/>
     Email : rnagare101@gmail.com
     <br/>
     Phone : +91-9529629814
     </p> 

     <br/><br/>
      
</div> 

<div class="text-capitalize font-weight-bold text-center bg-dark " width="100%" direction="left" height="50px" >
       Copyright  &copy;2021 all rights recived .
     </div>