<div class="container-fluid" >

  <body>
     <style>
    
       .banner{position: relative;width: 90%;margin: 0 auto;}
       .banner img{width: 100%;height:80%;}
       .heading{position: absolute;top: 3%;width: 80%;text-align: left;left:10px; background-color: lightblue;}
       .txt{position: absolute;top: 20%;width: 100%;text-align: left;left:50px;}
       .list-group-item {background-color: transparent;width:50%;color:black;font-family:"Times new romans"}

     </style>
     
     <div class="row">
       <div class="banner">
         <img src=<%= asset_path("banner")%>>
         <h1   class="heading">Welcome to Blog ...!</h1>
        
        <ul  class="txt">
        <li class="list-group-item">You’re only a stranger once</li><br/>
        <li class="list-group-item" > The future of communication starts here</li><br/>
        <li class="list-group-item"> Blogging the reel world</li><br/>
        <li class="list-group-item">Understand your mind</li><br/>
        <li class="list-group-item">Creativity, Clarity, Happiness</li><br/>
        <li class="list-group-item">News for nerds, stuff that matters</li>
      </ul>
    
       </div>
     </div>
  </body>

    <h3 class="font-italic text-center">Everythings with us & enjoying with us ...!</h3>
     <br/>
    <table class="table ">
    <td>
     <ul class="text-capitalize font-italic " style="">
      <li class="list-group-item " style="width:80%;">Posts the unlimited Blog's</li><br/>
      <li class="list-group-item  " style="width:80%;">Collabrate with People's</li><br/>
      <li class="list-group-item " style="width:80%;">Find your interest</li><br/>
    </ul>
    
    </td>
    <td>
      <img src=<%= asset_path("thinker.jpg")%> width="200" height="200" style="position: center;" >
     </td>
    </table>


<br/><br/>
 <div class="text-capitalize font-weight-bold text-center bg-dark " width="100%" direction="left" height="50px" >
   Copyright  &copy;2021 all rights recived .
</div>

</div>



