<div class="container">
   <h1>Wellcome to Friend-List</h1>
   <br/>
   <div class="card">
    <div class="card-header">
     <h4>It is for you !</h4>
    </div>
   <div class="card-body">
   <ul>
      <li>Maintain your friend list with various field</li><br/>
      <li>You can add no of records as you want</li><br/>
      <li>You can perform as many operation as you want </li><br/>
      <ul>
        <li>Add more friends</li><br/>
        <li>Delete friend as you want</li><br/>
        <li>Update it</li><br/>
      </ul>
   </ul>
     
   </div>
   </div>

   <br/><br/>
 
</div>
