<br/>
<h1>It's more fun !</h1>
<br/><br/>
<div class="card">
  <div class="card-header">
   <h4> Everything on it </h4>
  </div>
  <br/>
  <div class="card-body">
        <ul>
          <li>We can easily maintain friend list</li><br/>
          <li>We can access it anywhere</li><br/>  
        </ul>
  </div>
</div>