<div class="container">
<div class="card">
<div class="card-body">
<h1>New Profile</h1>

<%= render 'form', profile: @profile %>
</div>
</div>
<br/>
<%= link_to 'Back', profiles_path ,class:"btn btn-dark btn-sm"%>
<br/><br/>
</div>